.r{
    color:white;
    background-color: black;
    cursor: pointer;
    display: inline;

}
h3:hover{
color: red;
}
.p2{
    background-color:black;
    color:white;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor:pointer;
    margin-bottom: 20px;
    
}